<br><br><br>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <a class="navbar-brand" href="http://lalicel.com/"><img class="brandlogo" src="{{ site.baseurl }}/imgs/logo.png" width="200px"></img></a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
<div class="container">
      <ul class="nav navbar-nav navbar-left">
          <li><a href="{{ site.baseurl }}/about">About me</a></li>
          <li><a href="{{ site.baseurl }}/Design">Design</a></li>
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Streaming<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ site.baseurl }}/streaming/">Streaming</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ site.baseurl }}/paws/">Paws</a></li>
                  <li><a href="{{ site.baseurl }}/rules/">Rules</a></li>
                </ul>
              </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}/Game">Gaming</a></li>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ site.baseurl }}/subscribe">Support</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ site.baseurl }}/supporters/">supporters</a></li>
                </ul>
              </li>  
          
      </ul>
  </div><!-- /.navbar-collapse -->
    </div>
</nav><br><br><br>
